{{{includes.navbar}}}

<div class="wrapperforfooter">
  <div class="container-fluid monarch-container">

    <div class="content">
            <div class="jumbotron monarch-disease-light">
                <div id="description">
                    {{#alerts}}
                    <div class="alert alert-warning alert-block top-alert">
                      {{{.}}}
                    </div>
                    {{/alerts}}
                    <img id="monarch-logo" class="downloadline" src="/image/logo.png"/>
                    <h1 class="downloadline">Disease Group: {{label}}</h1>
                    <a class="downloadline btn btn-large btn-default btn-monarch-main monarch-feedback-dark"
                            href="mailto:info@monarchinitiative.org">Your feedback welcome!</a>
                </div>
                <div id="categories">
                    <a href="#overview"><div id="initialtab" class="tab contenttab">Overview</div></a>
                    {{{includes.phenotype_anchor}}}
                    {{{includes.gene_anchor}}}
                    {{{includes.genotype_anchor}}}
                    {{{includes.model_anchor}}}
                    {{{includes.variant_anchor}}}
                    {{{includes.pathway_anchor}}}
                    <div class="tabcontainer">
                      <div class="tabhover">View phenotypically similar diseases and genes in a grid</div>
                        {{#hasPhenotypes}}
                        <a href="#compare"><div class="tab contenttab">Compare</div></a>
                        {{/hasPhenotypes}}
                        {{^hasPhenotypes}}
                        <div class="tab greyed-out">Compare</div>
                        {{/hasPhenotypes}} 
                    </div>
                </div>
            </div>
            <div id="complete-info">
                <div id="overview" class="first category">
                  <h3>IDs</h3>
                    <div class="ids">
                        <b>URI:</b> <a href="{{{iri}}}">{{{iri}}}</a>
                    </div>
                     {{#hasAka}}
                    <div class="ids">
                        <b>AKA:</b>
                        {{aka}}
                    </div>
                    {{/hasAka}}
                    {{#hasDef}}
                      <div class="ids">
                        <b>Description:</b> {{definitions}}
                       </div>  
                       <p>
                         Source: {{{primary_xref}}}
                      </p>
                    {{/hasDef}}
                    
                    {{#hasComment}}
                      <div class="ids">
                        <b>Comment:</b> {{comment}}
                       </div>  
                    {{/hasComment}}
                    
                                        
                    {{#hasHeritability}}
                      <div class="ids">
                        <b>Heritability:</b> {{heritability}}
                       </div>  
                    {{/hasHeritability}}
                    
                    
                    {{#hasXrefs}}
                    <div class="ids">
                        <b>Cross References::</b> {{{xrefs}}}
                    </div>
                    {{/hasXrefs}}
                    {{#hasEqual}}
                            <div class="ids">
                                <b>Equivalent IDs:</b> {{{equivalentClasses}}}
                            </div>
                    {{/hasEqual}}
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                   <div class="panel panel-default">
                      <div class="panel-heading">
                      <h3 class="panel-title">Neighborhood</h3>
                    </div>
                    <div class="panel-body">
                      <div id="brw">
                    </div>
                    <div class="clearfix"></div>
                    </div></div>
                    </div>
                </div>
            {{{includes.phenotype_table}}}
            {{{includes.genotype_table}}}
            {{{includes.gene_table}}}
            {{{includes.model_table}}}
            {{{includes.variant_table}}}
            {{{includes.pathway_table}}}
            <div id="compare" class="category">
                <div id="phen_vis"></div>
            </div>
            </div>
        </div>
    </div>

</div> <!-- closes wrapperforfooter -->
{{{includes.footer}}}
