
<!-- Nav. -->
{{{includes.navbar}}}

<!-- Top-level internal container. -->
<div id="monarch-home-container" class="container-fluid monarch-container">

  <div class="jumbotron monarch-home-splash">
    <span class="monarch-home-splash-text">
      <strong>The Monarch Initiative</strong>
    </span>
  </div>

  <!-- Open first row section. -->
  <div class="row">

    <div id="col-1" class="col-xs-12 col-sm-8">
      <!-- Quiet rollover. -->
      <!-- WARNING: There is an HTML/CSS trick in here--the largest -->
      <!-- item is in "relative" position and the rest are in "absolute". -->

      <div class="xpanel-body" style="margin:0;margin-top:-10px;">
        <div id="monarch-tabber" class="monarch-tabber">
          <div class="row monarch-tabber-controls">
            <div class="monarch-tabber-control">
              <a href="/page/about" class="btn btn-block btn-sm monarch-tabber-on-item monarch-tabber-control-btn">
                <span class="monarch-nav-item-title">Overview</span>
                <br/>
                <img src="/image/carousel-monarch.png"
                     class="monarch-nav-embedded-image" alt="Overview" />
              </a>
            </div>

            <div class="monarch-tabber-control">
              <a href="/disease" class="btn btn-block btn-sm monarch-tabber-off-item monarch-tabber-control-btn">
                <span class="monarch-nav-item-title">Diseases</span>
                <br/>
                <img src="/image/carousel-diseases.png"
                     class="monarch-nav-embedded-image" alt="Diseases" />
              </a>
            </div>

            <div class="monarch-tabber-control">
              <a href="/phenotype" class="btn btn-block btn-sm monarch-tabber-off-item monarch-tabber-control-btn">
                <span class="monarch-nav-item-title">Phenotypes&nbsp;</span>
                <br/>
                <img src="/image/carousel-phenotypes.png"
                     class="monarch-nav-embedded-image" alt="Phenotypes" />
              </a>
            </div>

            <div class="monarch-tabber-control">
              <a href="/model" class="btn btn-block btn-sm monarch-tabber-off-item monarch-tabber-control-btn">
                <span class="monarch-nav-item-title">Models</span>
                <br/>
                <img src="/image/carousel-models.png" class="monarch-nav-embedded-image" alt="Models" />
              </a>
            </div>

            <div class="monarch-tabber-control">
              <a href="/gene" class="btn btn-block btn-sm monarch-tabber-off-item monarch-tabber-control-btn">
                <span class="monarch-nav-item-title">Genes</span>
                <br/>
                <img src="/image/carousel-genes.png"
                     class="monarch-nav-embedded-image" alt="Genetics" />
              </a>
            </div>
          </div> <!-- monarch-tabber-controls -->
        </div> <!-- monarch-tabber -->
      </div> <!-- panel-body -->

      <div class="panel-body">
        <div id="monarch-carousel" class="monarch-carousel">
          <div class="monarch-carousel-item monarch-carousel-item-selected">
            <!--<div>-->
              <!--<a role="button" href="/page/about">-->
                <!--<div class="btn btn-block btn-default monarch-carousel-explore-title">-->
                    <!--Traverse phenotypes, diseases, models, and genes with Monarch.-->
                <!--</div>-->
              <!--</a>-->

              <!--<hr class="monarch-home-carousel-item-hr"/>-->
            <!--</div>-->

            <a role="button" href="/page/about">
              <div class="center-block text-center">
                <img class="img-responsive monarch-carousel-item-image" src="/image/carousel-overview.png"
                     class="img-responsive"
                     alt="Explore Monarch" />
              </div>
            </a>
          </div>

          <div class="monarch-carousel-item monarch-carousel-item-unselected">
            <!--<div>-->
              <!--&lt;!&ndash;<a role="button" href="/disease">&ndash;&gt;-->
                <!--<div class="btn btn-block btn-default monarch-carousel-explore-title">-->
                    <!--Diseases: Investigate genetic underpinnings of disease.-->
                <!--</div>-->
              <!--&lt;!&ndash;</a>&ndash;&gt;-->

              <!--<hr class="monarch-home-carousel-item-hr"/>-->
            <!--</div>-->

            <a role="button" href="/disease">
              <div class="center-block text-center" style="clear:both;">
                <img class="img-responsive monarch-carousel-item-image" src="/image/explore-graph-dis.png"
                     class="img-responsive"
                     alt="Explore Diseases" />
              </div>
            </a>
          </div>

          <div class="monarch-carousel-item monarch-carousel-item-unselected">
            <!--<div>-->
              <!--<a role="button" href="/phenotype">-->
                <!--<div class="btn btn-block btn-default monarch-carousel-explore-title">-->
                    <!--Phenotypes: Explore phenotypes that may be similar across various diseases or across species.-->
                <!--</div>-->
              <!--</a>-->

              <!--<hr class="monarch-home-carousel-item-hr"/>-->
            <!--</div>-->

            <a role="button" href="/phenotype">
              <div class="center-block text-center" style="clear:both;">
                <img class="img-responsive monarch-carousel-item-image" src="/image/explore-graph-phe.png"
                     class="img-responsive"
                     alt="Explore Phenotypes" />
              </div>
            </a>
          </div>

          <div class="monarch-carousel-item monarch-carousel-item-unselected">
            <!--<div>-->
              <!--<a role="button" href="/model">-->
                <!--<div class="btn btn-block btn-default monarch-carousel-explore-title">-->
                    <!--Models: Find model organisms for phenotypes & diseases.-->
                <!--</div>-->
              <!--</a>-->

              <!--<hr class="monarch-home-carousel-item-hr"/>-->

            <!--</div>-->

            <a role="button" href="/model">
              <div class="center-block text-center" style="clear:both;">
                <img class="img-responsive monarch-carousel-item-image" src="/image/explore-graph-mod.png"
                     class="img-responsive"
                     alt="Explore Models" />
              </div>
            </a>
          </div>

          <div class="monarch-carousel-item monarch-carousel-item-largest monarch-carousel-item-unselected">
            <!--<div>-->
              <!--<a role="button" href="/gene">-->
                <!--<div class="btn btn-block btn-default monarch-carousel-explore-title">-->
                    <!--Genes: Explore the diseases and phenotypes for your favorite gene.-->
                <!--</div>-->
              <!--</a>-->

              <!--<hr class="monarch-home-carousel-item-hr"/>-->

            <!--</div>-->

            <a role="button" href="/gene">
              <div class="center-block text-center" style="clear:both;">
                <img class="img-responsive monarch-carousel-item-image" src="/image/explore-graph-gen.png"
                     class="img-responsive"
                     alt="Explore Genes" />
              </div>
            </a>
          </div>
        <a id="monarch-tabber-next" class="monarch-tabber-control-next">
          <div class="monarch-tabber-chevron monarch-tabber-right-chevron">
          </div>
        </a>
        <a id="monarch-tabber-prev" class="monarch-tabber-control-prev">
          <div class="monarch-tabber-chevron monarch-tabber-left-chevron">
          </div>
        </a>
        </div> <!-- monarch-carousel -->

      </div> <!-- panel-body -->


      <div id="cameocontainer" class="container">
        <div class="row flex monarch-home-cameo-row">
          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Patient Variant Analysis
                </h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="monarch-home-cameo-text">
                    Combine genotype and phenotype data across species for patient variant prioritization, functional annotation and pathogenicity determination.
                  </div>

                  <div class="center-block text-center">
                    <a href="/page/exomes">
                      <img
                        src="./image/variation-cameo.png"
                         class="img-responsive monarch-home-cameo-image"
                         alt=""/>
                    </a>
                  </div>
                </div>
              </div>

              <div class="panel-footer">
                <div class="center-block text-center">
                  <a class="btn btn-primary monarch-home-cameo-button" href="/page/exomes">
                    Exome Tool Suite
                  </a>
                </div>
                <br/>
              </div>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Patient Archive
                </h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="monarch-home-cameo-text">
                    Securely share &amp; discuss patients with colleagues all around the world.
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>

                  <div class="center-block text-center">
                    <a href="http://patientarchive.org/">
                      <img
                        src="./image/patient-archive-cameo.png"
                         class="img-responsive monarch-home-cameo-image"
                         alt=""/>
                    </a>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="center-block text-center">
                  <a class="btn btn-primary monarch-home-cameo-button" href="http://patientarchive.org/">
                    Patient Archive
                  </a>
                </div>
                <br/>
              </div>
            </div>
          </div>

        </div>

        <div class="row flex monarch-home-cameo-row">
          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Text Mining
                </h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="monarch-home-cameo-text">
                    Use our text mining engines to annotate phenotypes/diseases in your free text. Then optionally compare those phenotypes across species to find candidate models of disease.
                  </div>

                  <div class="center-block text-center">
                    <a href="/annotate/text">
                      <img
                        src="./image/text-mining-cameo.png"
                         class="img-responsive monarch-home-cameo-image"
                         alt=""/>
                    </a>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="center-block text-center">
                  <a class="btn btn-primary monarch-home-cameo-button" href="/annotate/text">
                    Text Mining
                  </a>
                </div>
                <br/>
              </div>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Literature
                </h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="monarch-home-cameo-text">
                    Find literature relevant to a set of phenotypes of interest
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>

                  <div class="center-block text-center">
                    <a href="http://pubmed-browser.human-phenotype-ontology.org/">
                      <img
                        src="./image/literature-cameo.png"
                         class="img-responsive monarch-home-cameo-image"
                         alt=""/>
                    </a>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="center-block text-center">
                  <a class="btn btn-primary monarch-home-cameo-button" href="http://pubmed-browser.human-phenotype-ontology.org/">
                    Phenotype PubMed Browser
                  </a>
                </div>
                <br/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- column 1 -->

    <!-- Two-column layout, col. 2 -->
    <div id="col-1" class="col-xs-12 col-sm-4">

      <!-- HPO -->
      <div id="hpo-panel" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a
              href="http://monarch-initiative.blogspot.com/2016/03/finally-medical-terminology-that.html"
              target="_blank">
              New: Plain language for describing human diseases
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <a target="_blank" href="http://human-phenotype-ontology.github.io">
          <img
            src="/image/hpo-logo.jpg"
            class="pull-right img-responsive monarch-home-hpo-logo-image"
            alt="Human Phenotype Ontology" />
          </a>

          <span>
            We have developed the <a target="_blank" href="http://human-phenotype-ontology.github.io">Human Phenotype Ontology (HPO)</a>, a vocabulary to describe human disease features (phenotypes). As of Spring 2016, the HPO includes synonyms that patients, doctors, and machines can all understand.
          </span>
          <div class="center-block text-center" style="clear:both;padding:0;margin:12px 0;">
            <a
              href="http://monarch-initiative.blogspot.com/2016/03/finally-medical-terminology-that.html"
              target="_blank">
              <img
                src="/image/hpo-apert-cameo.png"
                class="img-responsive monarch-home-hpo-image"
                alt="HPO" />
            </a>
          </div>
          <div class="center-block text-center">
            <a
              class="btn btn-primary monarch-home-hpo-button" href="http://monarch-initiative.blogspot.com/2016/03/finally-medical-terminology-that.html"
              target="_blank">
              View Announcement
            </a>
          </div>
        </div> <!-- panel-body -->
      </div> <!-- panel-default -->


      <!-- Search. -->
      <div class="panel panel-default"> <!-- style="padding-bottom: 0;"> -->
        <div class="panel-heading">
          <h3 class="panel-title">Compare Phenotypes</h3>
        </div>
        <div class="panel-body">
          <span class="">
            Find models and diseases similar to a set of abnormal phenotypes of interest and then visualize their overlap.
          </span>
          <br/>
          <div class="center-block text-center" style="clear:both;">
            <a href="/analyze/phenotypes">
              <img src="/image/Phenogrid3Compare.png"
                   class="img-responsive monarch-home-phenotype-image"
                   alt="Explore Diseases" />
            </a>
          </div>
          <br/>
          <div class="center-block text-center">
            <a class="btn btn-primary monarch-home-phenotype-button" href="/analyze/phenotypes">
              Go to Phenotype Analysis
            </a>
          </div>
        </div> <!-- panel-body -->
      </div> <!-- panel-default -->

      <!-- News and twitter combo. -->
      <div class="row">
        <div id="blog" class="col-xs-12">

          <div
            class="panel panel-default news-panel">
            <div class="panel-heading">
              <h3 class="panel-title">News and Events</h3>
            </div>
            <div class="panel-body news-list">
              {{#blog_results}}
                <div class="news-item">
                  <a href="{{link}}">
                     <span class="news-item-date">{{date}} &nbsp;</span>
                     <span class="news-item-title">{{title}}</span>
                  </a>
                  {{#category}}
                    <a href="{{link}}" class="label label-default">
                      {{label}}
                    </a>
                  {{/category}}
                </div>
              {{/blog_results}}
              <div class="news-more">
                <a href="http://monarch-initiative.blogspot.com/" alt="More posts">
                  More...
                </a>
              </div>
            </div>
          </div> <!-- news-panel -->

        </div> <!-- blog -->
      </div> <!-- row -->


      <div class="row">
        <div id="twitter" class="col-xs-12">
          <a  class="twitter-timeline"
            href="https://twitter.com/search?q=%40MonarchInit+OR+%23raredisease+OR+%40GA4GH+OR+%40phenomecentral"
            data-widget-id="527567015918051328"
            data-chrome=""
            height="340"
            width="520">
            Loading Tweets about "@MonarchInit OR #raredisease OR @GA4GH OR @phenomecentral"
          </a>

          <script>
          // From https://dev.twitter.com/web/javascript/loading - 7/26/2015

          window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
              t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
              t._e.push(f);
            };

            return t;
          }(document, "script", "twitter-wjs"));
          </script>
        </div>
      </div> <!-- row -->
    </div> <!-- col-lg-5 -->
  </div> <!-- row -->

</div> <!-- container-fluid -->

<!-- Footer. -->
<hr/>
{{{includes.footer}}}
