<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8"/>

    <title>{{title}}</title>

    {{{includes.analytics}}}

    {{#bundleCSS}}
        <link rel="stylesheet" type="text/css" href="{{{.}}}">
    {{/bundleCSS}}

    <!-- CSS. -->
    {{#pup_tent_css_libraries}}
        <link rel="stylesheet" type="text/css" href="{{{.}}}">
    {{/pup_tent_css_libraries}}

    <!-- JS launcher. -->
    <script type="text/javascript">
        loaderGlobals = {};
{{#useBundle}}
    globalUseBundle = useBundle = window.useBundle = true;
{{/useBundle}}
{{^useBundle}}
    globalUseBundle = useBundle = window.useBundle = false;
{{/useBundle}}
    </script>

    <!-- JS variables. -->
    {{#pup_tent_js_variables}}
        <script type="text/javascript">var {{name}} = {{{value}}};</script>
    {{/pup_tent_js_variables}}

    {{#bundleJS}}
        <script type="text/javascript" src="{{{.}}}"></script>
    {{/bundleJS}}

    <!-- JS libraries. -->
    {{#pup_tent_js_libraries}}
        <script type="text/javascript" src="{{{.}}}"></script>
    {{/pup_tent_js_libraries}}

    <!-- JS launcher. -->
    <script type="text/javascript">
        function loaderBody() {
makeDiseaseLandingGraph = loaderGlobals.makeDiseaseLandingGraph;
makeGenotypeLandingGraph = loaderGlobals.makeGenotypeLandingGraph;
makePhenotypeLandingGraph = loaderGlobals.makePhenotypeLandingGraph;
makeDiseaseLandingGraph = loaderGlobals.makeDiseaseLandingGraph;
makeGeneDiseaseLandingGraph = loaderGlobals.makeGeneDiseaseLandingGraph;
makeModelLandingGraph = loaderGlobals.makeModelLandingGraph;
getTableFromSolr = loaderGlobals.getTableFromSolr;
getOntologyBrowser = loaderGlobals.getOntologyBrowser;
bbop = loaderGlobals.bbop;
navbar_search_init = loaderGlobals.navbar_search_init;
InitHomePage = loaderGlobals.InitHomePage;
InitTables = loaderGlobals.InitTables;
remove_equivalent_ids = loaderGlobals.remove_equivalent_ids;
makeSpinnerDiv = loaderGlobals.makeSpinnerDiv;
add_species_to_autocomplete = loaderGlobals.add_species_to_autocomplete;
CyPathDemoInit = loaderGlobals.CyPathDemoInit;
CyExploreDemoInit = loaderGlobals.CyExploreDemoInit;

            loaderGlobals.InitFacetFilters();
            loaderGlobals.InitMonarchBBOPHandler();
            loaderGlobals.InitMonarchBBOPLinker();
            loaderGlobals.InitMonarchBBOPWidgetBrowse();
            loaderGlobals.InitMonarchBBOPWidgetDisplay();
            loaderGlobals.InitTabs();

            {{#monarch_launchable}}
                {{.}};
            {{/monarch_launchable}}
        }

function loader() {
    if (jQuery) {
        jQuery(document).ready(function () {
            loaderBody();
        });
    }
    else {
        loaderBody();
    }
}
    </script>

    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
</head>

{{#home_page}}
<body
    style="padding-top: 40px;"
{{/home_page}}

{{^home_page}}
<body
{{/home_page}}
    id="monarch-body"
{{#useBundle}}
onload="loaderBody()"
{{/useBundle}}
>

{{#useBundle}}
<script>
//loader();
</script>
{{/useBundle}}

{{^useBundle}}
<script src="/require.js" data-main="/requireconfig"></script>
{{/useBundle}}


{{&pup_tent_content}}

</body>
</html>








